img{
    height: 130px;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    height: 900px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    line-height:1.6;
    background-color: #7fc9b2d8;

}

.container{
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

header{
    background:radial-gradient(circle,#30b8a1,pink);
    color: rgb(255, 255, 255);
    padding: 0 20px;
    text-align: center;
    border-bottom: 5px solid rgba(80, 172, 19, 0.457);
}

 header h1{
    font-size: 2.8rem;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1px;
 }

header .slogan{
    font-size: 1.2rem;
    opacity: 0.9;
    font-style: italic;

}

nav{
    background-color:#8bccd18e;
    box-shadow: 0 2px 10px rgba(3, 174, 54, 0.313);
    position:sticky;
    top: 0;
    z-index: 100;
}

a{
    text-decoration: none;
    padding: 10px;
    color:rgb(131, 4, 156);
    font-weight: bold;
}

.card
{
    background-color: #5ccbe2;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.9);
    transition: 0.3s ease;
}

.cards
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.card:hover
{
    transform: translateY(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.card a
{
    display: block;
    padding: 25px 20px;
    text-decoration: none;
    color: #ffffff;    
}

.cards h3
{
    color: #00a8d2;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
/* enviar tudo a partir do .card */

.card p
{
    color: #000a54;
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 600;
}



